@font-face{
    font-family: mifuente;
    src: url(..//Font/BeVietnamPro-Light.ttf);
}
@font-face{
    font-family: segundafuente;
    src:url(..//Font/BeVietnamPro-Bold.ttf);
}

@font-face {
    font-family: facecebook;
    src:url(..//);
}

@font-face {
    font-family: Youtube;
    src:url(..//Font/github.png);
}

@font-face {
    font-family: Twitter;
    src:url(..//Font/github.png);
}

@font-face {
    font-family: piterest;
    src:url(..//Font/github.png);
}

@font-face {
    font-family: instagram;
    src:url(..//Font/github.png);
}

*{
    border: 0%;
    margin: 0%;
    padding: 0%;
}

/* Header */
.logo{
    position: relative;
    width: 73.68px;
    height: 25px;
    left: 199px;
    top: 74.5px;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: space-around;
    font-family: mifuente;
    width: 500px;
    height: 25px;
    left: 500px;
    top: 74.5px;
    font-size: 16px;
    color:#242E52;
}
.menu nav{
    padding-left: 25px;
}
.contact{
    
    position: absolute;
    display: flex;
    width: 134px;
    height: 44px;
    gap: 10px;
    top: 65px;
    left: 1200px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: mifuente;
        
    background: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.contact span{
    color: white;
}
/* sección deportista */
.section1{
    display: flex;
    text-align: right;
    letter-spacing: -0.035em;
    align-items: flex-start;
    
}
.jugador{
    position: relative;
    width: 540px;
    height: 461.07px;
    left: 180px;
    top: 260px;
    
}
.LIVE{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 461px;
    left: 340px;
    top: 260px;
    text-align: right;
    font-family: mifuente;
    
}
.LIVE H1{
    font-family: mifuente;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color:#242E52;
}
.LIVE p{
    font-style: normal;
    font-family: segundafuente;
    font-size: 16.5584px;
    line-height: 157.1%;
    font-weight: 500;
    color:black;
    font-weight: 500;
}
.contac2{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-sizing: border-box;
    
    width: 134px;
    height: 44px;
    top: 10px;
    left: 320px;

    background: #8B48BF;
    border-radius: 50px;
}
.contac2 span{
    font-family: mifuente;
    color: white;
}
/*Barra What*/
.what{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 220px;
    gap: 100px;

    position: absolute;
    width: 1440px;
    height: 168px;
    left: 0px;
    top: 817px;

    background: #8B48BF;
    color: white;
    box-sizing: border-box;
}
.what h2{
    font-family: mifuente;
    width: 450px;
    height: 88px;
    font-weight: 700;
    font-size: 32px;
    color: white;
    
}
.what p{
    width: 450px;
    height: 88px;

    font-family: mifuente;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.1%
}
/*lista 123*/
.lista123{
    display: flex;
    position:relative;
    width: 1440px;
    height: 428px;
    left: 0px;
    top: 470px;

    background-color: #FAFAFA;
    box-sizing: border-box;
    gap: 10px;
    padding: 40px;
    flex-direction: column;
}
.lista1{
    display: flex;
    align-items: flex-start;
    padding-left: 200px;
    gap: 50px;
    
}
.lista2{
    display: flex;
    align-self: center;
    padding: 50px;
}
.primero, .segundo, .tercero{
    padding-top: 40px;
    font-family: mifuente;
    font-weight: 200;
    box-sizing: content-box;
}

.uno, .dos, .tres{
    width: 69px;
    height: 43px;

    background: #8B48BF;
    border-radius: 30px;
    color:white;
    border-color:#FAFAFA;
    padding:10px 25px;
    font-weight: 700;
    box-sizing: content-box;
}

.Track, .Advance, .Everything{
    font-family: segundafuente;
    color: #323851;
}
.lista123 p{
    padding: 10px;
    width: 437px;
    height: 49.5px;
    box-sizing: content-box;
    color: #B3B2B7;
}
/*Carts*/

.Bestofthemont{
    /*padre Carts*/
    display: flex;
    align-items: center;
    text-align: center;
    
    
}
.best{
    position: absolute;
    display: flex;
    width: 424px;
    height: 61px;
    left: 553px;
    top: 1510px;
    font-family: mifuente;

    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;

    color: #242E53;

}

.Sanyo{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 220px;
    left: 71px;
    top: 1680px;
    
    background: #FAFAFA;
}
.avatarsanyo{
    position: relative;
    width: 87.01px;
    height: 71.94px;
    left: 178.99px;
    top: -20%;
}


.Lebron{
    position: absolute;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 445px;
    height: 219px;
    left: 497px;
    top: 1680px;

    background: #FAFAFA;
}

.avatarlebron{
    position:relative;
    width: 77.81px;
    height: 71.39px;
    left: 180px;
    top: -40px
    

}

.Bestofthemont h3{
    color:#3F4868;
    padding: 10px;
    font-family: mifuente;
}

.Navarro{   
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 219px;
    left: 924px;
    top: 1680px;
    
    background: #FAFAFA;
    
}

.avatarnavarro{
    position: relative;
    width: 78.3px;
    height: 74.68px;
    left: 180px;
    top: -50px
}

.Etiam{
    border: 21px;
    width: 403px;
    height: 100px;
    color: #B9B9C1;
}
.more{
    position: absolute;
    width: 134px;
    height: 44px;
    left: 653px;
    top: 1944px;

    background: rgba(139, 72, 191, 0.7);
    border-radius: 50px;
    border-color: white;
}
.botonmore{
    color:white;
    padding: 12.5px 50px;
}

/*Footer*/
.Get{
    position: absolute;
    width: 1440px;
    height: 224px;
    left: 0px;
    top: 2168px;

    background: #8B48BF;
}
.Get h2{
    width: 400px;
    height: 96px;

    font-family: mifuente;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    letter-spacing: -0.005em;

    color: #FFFFFF;

    padding: 64px 882px 64px 165px;
    box-sizing: content-box;
}
.GO{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    height: 44px;
    width: 134px;
    left: 931px;
    top: 50px;
    border-radius: 50px;
    padding: 10px;
    background-color: white;
    box-sizing: content-box;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-color: #8B48BF;  
}


.sportitend{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    width: 1439px;
    height: 247px;
    left: 0px;
    top: 2392px;

    background: #1E1E26;
    padding-top: 54px;
    color: white;
    
}

.logoend{
    
    padding-left: 167px;
    height: 25px;
    left: 204px;
}
.parteA p{
    display: flex;
    padding-left: 167px;
    justify-content: flex-end;
    top:50px

}
.redes{
    display: flex;
    color: white;
    padding-top: 100px;
    padding-left: 167px;
    height: 25px;
    left: 204px;
    gap: 20px;
    font: size 32px;
    
}
.About{
    list-style-type: none;
    font-family: mifuente;
}

.trainnig{
    list-style-type: none;
    font-family: mifuente;
}

.parteD{
    display: flex;
    flex-direction: column;
}
form{
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    color:#1E1E26;

    width: 201px;
    height: 44px;

    background: #FFFFFF;
    border-radius: 50px
    
}
.botongo{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 35px;
    gap: 10px;

    width: 63px;
    height: 42px;

    background: #8B48BF;
    border-radius: 50px;
    border-color: #8B48BF;
}

.botongo:hover{
    background-color: #3CDDF3;
}

.parteD span{
    margin-top: 35px;
    padding-top: 40px;
    padding-right: 100px;
    font-family: mifuente;
}

/*adaptación para celulares*/
@media(max-width:480px){
    .logo{
        position: relative;
        width: 200px;
        height: 100px;
        left: 34px;
        top: 17.5px;
        padding: top 40px;
        padding-left: 40px;
    }
    .menu{
        display: none;
    }
    .contact{
        display: none;
    }
    .section1{
        display: flex;
        flex-direction: column;
        width: 134px;
        height: 840px;
    }
    .jugador{
        width: 480px;
        height:200px;
        top: 50px;
        left: 30px;
    }
    .LIVE{
        position: relative;
        display: flex;
        width: 480px;
        height:100px;
        left: 0px;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .what{
        display: flex;
        flex-direction: column;
        align-items:initial;
        
        position: absolute;
        width: 480px;
        height: 800px;
        left: 0px;
        top: 1000px;

        background: #3CDDF3;
    }

    .lista123{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        position: absolute;
        width: 480px;
        height: 306px;
        top: 1800px;
    }
    .lista1{
        display: flex;
        flex-direction: column;
        left: 0px;
        top: 1400px;
    }
    .lista2{
        display: flex;
        justify-content: center;
        top: 200px;
    }
    .Track, .Advance, .Everything{
        background-color: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        width: 400px;
    }
    .Bestofthemont{
        position: relative;
        display: flex;
        width: 480px;
        height: 61px;
        left: 0px;
        top: -100px;
        
    }
    .best{
        left: 150px;
    }
    .Sanyo{
        display: none;
    }
    .Navarro{
        display: none;
    }
    .Lebron{
        position: relative;
        display: flex;
        left: 90px;
        top: 1700px;
    }
    .more{
        position: relative;
        display: flex;
        left: -180px;
        top: 1850px;

    }
    footer{
        position: relative;
        display: flex;
        top: -600px;
    }
    .Get{
        display: flex;
        width: 480px;
        height: 400px;
        top: 2500px;
    
        background-color: #3CDDF3;
        color: white;
        flex-direction: column;
    }
    .Get h2{
        font-size: 40px;
        
    }
    .sportitend{
        position: absolute;
        width: 480px;
        height: 480px;
        top: 2900px;
        flex-direction: column;
        align-self: center;
        padding-left: 50px;

    }
}